<div class="card">
    <div class="card-header">
        <h4 class="card-title text-center" id="cardTitle">{{name}}</h4>
    </div>
    <div class="card-body">
        <img src="{{image}}" class="img-fluid w-100" alt="" />
    </div>
</div>